* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  background: #c5c5c5;
}

p, h3 {
  margin-left: 2rem;
}


.header {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.informacoes {
  margin-left: 2rem;
  list-style-type: none;
  margin-bottom: 1rem;
}


